{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sn.css' %}" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{% endblock extrahead%}
{% block content %}
    <div id="grandiv2" class="classgrandiv2">
        <div id="about" class="sobrenos">
            <img src="https://c1.wallpaperflare.com/preview/837/595/710/aerial-architectural-design-architecture-buildings.jpg" class="imagen">
            <div id="text" class="texto">
                <h1>Sobre Nosotros</h1>
                <h5>FullDevelovers</h5>
                <p>Somos una empresa desarrolladora fundada en 2023 que presta los servicios de contratación de empleados por tiempo para trabajar como asesores, análistas e incluso auditores en los distintos proyectos relacionados al desarrollo web.</p>
                <a href="#"><p class="cont">Contáctenos</p></a>
            </div>
        </div>
    </div>
    <script src="{% static 'sn.js' %}"></script>
{% endblock content %}
