/*Selector Universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Selector Etiquetas e Hijos*/



/*Selectores de ID*/

#grandiv {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    position: solid;
    display: inline-block;
}

#divl {
    height: 10vh;
    width: 20vw;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A2D5AC;
    transition: 1s;
}

#divc {
    float: left;
    height: 10vh;
    width: 65vw;
    background-color: #A2D5AC;
    transition: 1s;
}

#divc ul {
    margin: auto;
    text-align: center;
    height: 10vh;
    width: 65vw;
}

#divc ul li{
    margin: 0;
    padding: 3.5vh 0vw;
    display: inline-block;
}

#divc ul li:hover {
    background-color: #54A764;
}

#divc.activo ul li:hover {
    background-color: #557C83;
}

#divc ul li a {
    margin: 0;
    padding: 3.5vh 1.7vw;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: 1s;
}

#divr {
    float: left;
    height: 10vh;
    width: 15vw;
    background-color: #A2D5AC;
    transition: 1s;
}

#divr ul {
    margin: auto;
    text-align: center;
    height: 10vh;
    width: 15vw;
}

#divr ul li{
    margin: 0;
    padding: 3.5vh 0vw;
    display: inline-block;
}

#divr ul li:hover {
    background-color: #54A764;
}

#divr.activo ul li:hover {
    background-color: #557C83;
}

#divr ul li a {
    margin: 0;
    padding: 3.5vh 2.2vw;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: 1s;
}

#divl.activo {
    background-color: #04445f;
}

#divc.activo {
    background-color: #04445f;
}

#divc.activo ul li a{
    color: #FFF;
}

#divr.activo {
    background-color: #04445f;
}

#divr.activo ul li a {
    color: #FFF;
}

#btn2.activo p {
    transition: 1s;
    color: #FFF;
}

#btn {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 200px;
    background: #fff;
    box-shadow: inset 0 1px 30px rgba(0, 0, 0, 0.1),
                inset 0 1px 4px rgba(0, 0, 0, 0.1),
                inset 0 -2px 2px rgba(0, 0, 0, 0.05);
    transition: 1s;
}

#btn.activo {
    background: #222;
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1), 
                inset 0 4px 4px rgba(0, 0, 0, 0.1), 
                inset 0 -2px 2px rgba(0, 0, 0, 0.1);
}

#btn .indicador {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, #FAF4F4, #DDDADA);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
                inset 0 2px 2px rgba(255, 255, 255, 1),
                inset 0 -2px 2px rgba(255, 255, 255, 1);
    transition: 0.8s;
    cursor: pointer;
}

#btn.activo .indicador {
    left: 40px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5),
                inset 0 2px 2px rgba(255, 255, 255, 0.2),
                inset 0 -2px 2px rgba(255, 255, 255, 0.2);
}


/*Selectores de Clases*/

.btnr {
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 10vw;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnr p{
    margin: 0;
    padding: 4vh 0.8vw;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 500;
    color: black;
    transition: 1s;
}

/*Selectores Anidados*/

